@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

header {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:99vw;
    height:200px;
    background-color:rgb(196, 196, 196);
    font:20px/1.6 "Muli", Arial;
}

.profile-photo {
    width:120px;
    height:150px;
    border-radius:5px;
}

.name {
    font-size:30px;
    font-weight:bold;
}

.accounts {
    font-size:40px;
}

nav {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    background-color:#4285F4;
    width:99vw;
    height:70px;
    z-index:1;
}

.nav-button-link {
    transition: color 0.3s ease;
    padding:2vw;
    cursor:pointer;
    font:20px/1.6 "Muli", Arial;
    font-weight:1000;
    color:white;
    text-decoration: none;
}

.nav-button-link:hover {
    transition: color 0.3s ease;
    color:rgb(0, 35, 68);
}

.fixedNav {
    position:fixed;
    top:0;
}

#comments-container {
    position:relative;
    display:flex;
    flex-direction:column-reverse;
    max-height:20vh;
    overflow-y:scroll;
    padding:5px;
    margin:10px;
    border:solid;
}
